<div class='card__content'>
  <h4 class='title'>{{ title }}</h4>
  <img class='image' src="{{ path }}" alt="{{ author }}">
  <p class='description'>{{ description }}</p>
  <div class='card__footer'>
    <div class='author'>{{ author }}</div>
    <div class='type'>{{ type }}</div>
    <div class="link">
      <a href="{{ link }}">{{ link }}</a>
    </div>
  </div>
</div>
